import com.zegreatrob.testmints.logs.StructuredLoggingTestMintsReporter
import kotlin.test.Test
import kotlin.test.assertTrue


val ignoreMe = Unit.also {
    println("initializing")
    StructuredLoggingTestMintsReporter.initialize()
    println("after initializing")
}

class MintLogsSetup {
    init {
        println("$ignoreMe")
    }

    @Test
    fun ensureMintsAreSetup() {
        println("ensureMintsAreSetup")
        assertTrue(true)
    }
}
